#world {
  
  width: 65vw;
}

#thePeople {
  
  width: 65vw;
}

#beliefs {
  
  width: 65vw;
}

h3 {
  padding: 1.5vh;
}

p{
    margin-bottom: 1vh;
    
}

.circle-border-wrap {
  width: 31vw;
  height: 31vh;
  align-items: center;
  background: linear-gradient(to bottom, rgb(173, 173, 241), rgb(46, 231, 206), rgb(34, 243, 34), rgb(16, 97, 16), rgb(34, 243, 34), rgb(46, 231, 206), rgb(173, 173, 241));
  border-radius: 50%;
  
}

.circle{ 
  width: 30vw;
  height: 30vh;
  background: blue;
  border-radius: 50%;
  font-size: 13px;
  color: rgb(2, 0, 0);
  text-align: center;
  
}

#zones {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.planet {
  color: antiquewhite;
  font-size: 15px;
}